.medicalRecord-container {
  width: 100%;
  padding: 2rem 0;
}

.medicalRecord-form-container {
  width: 60%;
  margin: auto;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgb(141, 140, 140);
  display: flex;
  flex-direction: column;
}

.medicalRecord-title h1 {
  margin: 5px;
  margin-bottom: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.medicalRecord-row-wise {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px auto;
}

.medicalRecord-row-wise input {
  width: 40%;
  padding: 10px 15px;
  margin: 0;
  outline: none;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 22px;
}

.medicalRecord-row-wise .lastInput {
  width: 100% !important;
}

.medicalRecord-daignosis-section {
  width: 100%;
  margin-top: 1.2rem;
}

.daignosis-title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0 5px;
}

.daignosis-para {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 5px;
  margin: 4px 0;
  color: #555;
}

.daignosis-textarea {
  width: 80%;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  color: #555;
  padding: 15px;
}

.medications-section {
  width: 100%;
  margin-top: 1.2rem;
}

.medications-header {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgb(177, 176, 176);
  width: 100%;
}

.medications-header p {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(148, 144, 144);
  margin: 0;
}

.medications-column1 {
  width: 3%;
  text-align: left;
}

.medications-column2 {
  width: 16%;
  text-align: center;
}

.medications-input-row {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.medications-input-fields {
  width: 14%;
  padding: 5px 5px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 8px;
  outline: none;
}

.medications-addBtn {
  width: 10%;
  padding: 5px 5px;
  border: 1px solid rgb(100, 160, 255);
  background-color: rgb(100, 160, 255);
  color: #fff;
  border-radius: 6px;
  outline: none;
  font-weight: lighter;
  letter-spacing: 1px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
}

.medications-deleteBtn {
  width: 10%;
  padding: 5px 5px;
  border: 1px solid rgb(100, 160, 255);
  background-color: #fff;
  color: rgb(100, 160, 255);
  border-radius: 6px;
  outline: none;
  font-weight: lighter;
  letter-spacing: 1px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
}

.clinicalTest-section {
  width: 50%;
  margin-top: 1.2rem;
}

.clinicalTest-header {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgb(177, 176, 176);
  width: 100%;
}

.clinicalTest-header p {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(148, 144, 144);
  margin: 0;
}

.clinicalTest-column1 {
  width: 3%;
  text-align: left;
}

.clinicalTest-column2 {
  width: 45%;
  text-align: center;
}

.clinicalTest-input-row {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.clinicalTest-input-fields {
  width: 45%;
  padding: 5px 5px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 8px;
  outline: none;
}

.clinicalTest-addBtn {
  width: 25%;
  padding: 5px 5px;
  border: 1px solid rgb(100, 160, 255);
  background-color: rgb(100, 160, 255);
  color: #fff;
  border-radius: 6px;
  outline: none;
  font-weight: lighter;
  letter-spacing: 1px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
}

.clinicalTest-deleteBtn {
  width: 25%;
  padding: 5px 5px;
  border: 1px solid rgb(100, 160, 255);
  background-color: #fff;
  color: rgb(100, 160, 255);
  border-radius: 6px;
  outline: none;
  font-weight: lighter;
  letter-spacing: 1px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
}

.medicalRecord-buttonDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.medicalRecord-button {
  background-color: rgb(100, 160, 255);
  color: #fff;
  border: 1px solid rgb(100, 160, 255);
  border-radius: 22px;
  width: 35%;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.medicalRecord-button:hover {
  background-color: rgb(100, 160, 255);
  transform: scale(1.01);
  outline: none;
  cursor: pointer;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.medicalRecord-button-cancel {
  background-color: #fff;
  color: rgb(100, 160, 255);
  border: 1px solid rgb(100, 160, 255);
  border-radius: 22px;
  width: 35%;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.medicalRecord-button-cancel:hover {
  background-color: #fff;
  border: 1px solid rgb(100, 160, 255);
  color: rgb(100, 160, 255);
  transform: scale(1.01);
  outline: none;
  cursor: pointer;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
